<%- include("header") -%>

<h1 style="color: black;">
    About Page
</h1>

<p>
    This contains information about the page. This is your to do list information page
</p>

<%- include("footer") -%>